header{
  background-color: rgb(241, 186, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

header ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 15px;
  /* margin-right: 100px; */
}
/* header h1{
  margin-left: 100px;
} */



main > section{
  padding: 10px 100px;
  background-color: aquamarine;
}